doc/*.html
*.DAT
*.LOG
*.DCD
nohup.out
erl_crash.dump
fprof.trace
dist
src/TAGS
priv/log/*
lib/*
releases/*/*.boot
releases/*/*.script
releases/*/*.tar.gz
priv/text/db-*
priv/yaws/docroot/doc/*
priv/yaws/tmp/*
ebin/*.beam
test/*
