%%% -*- mode: erlang -*-
[{yaws, [{embedded, true}]},
 {sasl, [{sasl_error_logger, {file, "priv/log/sasl.log"}},
         {error_logger_mf_dir, "priv/log/sasl"},
         {error_logger_mf_maxfiles, 20},
         {error_logger_mf_maxbytes, 524288}, %512Kb log files
         {releases_dir, "releases"}
        ]},
 {inets, [{services, [{httpc, {default, "priv/inets/httpc"}}]}]},
 {mnesia, [{dir, "priv/db"}]},
 {erms, [{yaws_config,
          {[{logdir, "priv/yaws/logs"},
            {id, "ERMS-Yaws"},
            {tmpdir, "priv/yaws/tmp"},
            {debug, false}],
           [{admin,
             "priv/yaws/docroot",
             [{listen, {127,0,0,1}},
              {port, 7081},
              {servername, "localhost"}
             ]},
            {public,
             "priv/yaws/pub_docroot",
             [{listen, {127,0,0,1}},
              {port, 7080},
              {servername, "localhost"},
              {appmods, [{"inject_mo", erms_inject_mo},
                         {"inject_mt", erms_inject_mt},
                         {"inject", erms_inject}]}]}
           ]
          }}
         {mnp_service_url, "http://127.0.0.1:6081/isTelecomCustomer.yaws?MDN="}
         ,{msg_archive_log, [{file, "priv/log/msgs/archive"},
                             {maxfiles, 20},
                             {maxbytes, 104857600}]}
        ]},
 {erlmail, [{relay_host, "localhost"}]}
].
